body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(168, 243, 212);
    gap: 10px;
    font-size: clamp(12px, 3vw, 22px);
}
span{
    user-select: none;
}
.container{
    width: 30em;
    height: 20em;
    border: 4px solid #000000;
    position: relative;
}
hr{
    width: 4px;
    background-color: #000000;
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
}
#Persik{
    position: absolute;
    bottom: 0em;
    left: 9.7em;
}
#abiy-photo{
    width: 1.6em;
}
.abiy{
    position: absolute;
    left: 0.6em;
    top: 0.45em;
    z-index: 1;
}
#shash{
    width: 4em;
    height: 2.6em;
}
.shashlik{
    position: absolute;
    left: 14em;
    top: 6px;
}
#hr1{
    height: 7em;
    top: 0%;
    left: 3em;
}
#hr2{
    top: calc(7em + 4em);
    left: 3em;
    height: 6em;
}
#hr3{
    top: 6.5em;
    left: 9.4em;
    height: 6em;
    transform: rotate(90deg);
}
#hr4{
    top: 3.5em;
    left: 6.5em;
    height: 6em;
}
#hr5{
    top: 0;
    left: 13.5em;
    height: 6em;
}
#hr6{
    top: calc(100% - 4em);
    left: 9em;
    height: 4em;
}
#hr7{
    bottom: 1em;
    left: 12em;
    height: 6em;
    transform: rotate(90deg);
}
#hr8{
    bottom: 4em;
    left: 9em;
    height: 2em;
}
#hr9{
    top: 5em;
    left: 10em;
    height: 0.6em;
    transform: rotate(90deg);
}
#hr10{
    top: 10em;
    left: 14em;
    height: 4em;
    transform: rotate(90deg);
}
#hr11{
    top: 0.5em;
    left: 16.5em;
    height: 6em;
    transform: rotate(90deg);
}
#hr13{
    bottom: 0;
    left: 100%;
    height: 3.2em;
    background-color: rgb(168, 243, 212);
}
#hr14{
    bottom: 0;
    left: 18.9em;
    height: 2em;
}
#hr15{
    bottom: 5em;
    left: 18.9em;
    height: 7em;
}
#hr16{
    top: 5.65em;
    left: calc(100% - 1.5em);
    height: 3em;
    transform: rotate(90deg);
}
#hr17{
    top: 3.3em;
    left: calc(100% - 3em);
    height: 4em;
}
#box{
    position: absolute;
    top: 10em;
    left: 21.7em;
    width: 5em;
    height: 3em;
    border: 4px solid #000000;
    background-color: red;
}
#hr18{
    bottom: 3em;
    left: 22em;
    height: 0.7em;
}
#hr19{
    bottom: 0.8em;
    left: calc(100% - 2.5em);
    height: 5em;
    transform: rotate(90deg);
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.buttons-x{
    display: flex;
    align-items: center;
    gap: 15px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 4em;
    background-color: #c300ff;
    border-radius: 15px;
    cursor: pointer;
}
@media (hover:hover){
    .button:hover{
        background-color: #ab00df;
    }
}
.img-hide{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.show{
    opacity: 100;
    visibility: visible;
}
.hide{
    opacity: 0;
    visibility: hidden;
    display: none;
}